<!DOCTYPE html>
<html>
<head>
    <title>Tech Nugget</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a227b14a0d.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="row">
        <div class="col-12">

            <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
                   <a href="/home"><img src="assets/logo.png" class="logo" id="float"></a>
                    <a class="navbar-brand navbar-title" href="/home">Tech Nugget</a> 


                    <ul class="navbar-nav ml-auto links">
                      <li class="nav-item active">
                        <a class="nav-link" href="/home">HOME</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/store">
                        STORE
                    </a>
                      </li>
                    </ul>
            </nav>

        </div>
    </div>