<!DOCTYPE html>
<html>
<head>
    <title>Tech Nugget</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a227b14a0d.js" crossorigin="anonymous"></script>
</head>
<body>
