<%- include("./partials/header.ejs")-%>

<div class="container pt-3">

    <div class="text-center mt-5 px-3 mb-2">
      <p class="about">
          We bring you the latest news and updates in the tech world through our instagram page
      </p>
   </div>

    <div class="text-center">
    <a href="https://www.instagram.com/tech.nugget" target="_blank"><i class="fab fa-instagram fa-5x"></i></a>
    </div>

    <div class="mb-5">
        <p class="text-light h5"> Visit the <a href="/store">STORE</a> to purchase through our links</p>
    </div>

    <div class="mb-5 pb-4"></div>

</div>

<%- include("./partials/footer.ejs")-%>
