<%- include("./partials/header.ejs")-%>

<div class="container">

    <div class="text-center mt-3 px-3">
      <p class="about">
          We bring the latest news and updates in the technological world through our instagram page
      </p>
   </div>

    <div class="text-center mt-5">
    <a href="https://www.instagram.com/tech.nugget" target="_blank"><i class="fab fa-instagram fa-7x"></i></a>
    </div>
</div>

<%- include("./partials/footer.ejs")-%>