body{
	background-color:#3b3c3f;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
 }
 
 .navbar-custom{
    background-color:#3b3c3f;
    margin-top:15px;
 }

 .navbar-title{
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    font-size: 3em;
    color: #fafaf7;
    font-weight: 600;
 }

.links{
    flex-direction: row;
    font-size: 1.2em;
}

.links li{
    padding: 10px;
    color: #fafaf7;
    z-index: 1;
}

.logo{
    width: 80px;
}

.about{
    font-size:1.8em;
    color: #fafaf7;
    width:50%;
    margin: 0 auto; 
}

@media only screen and (max-width: 768px) {
    .navbar-title {
        display: none;
    }
}



