body{
	background-color:#3b3c3f;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
 }
 
 .navbar-custom{
    background-color:#3b3c3f;
    margin-top:15px;
 }

 .navbar-title{
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    font-size: 3em;
    color: #fafaf7;
    font-weight: 600;
 }

.links{
    flex-direction: row;
    font-size: 1.2em;
}

.links li{
    padding: 10px;
    color: #fafaf7;
    z-index: 1;
}

.logo{
    width: 80px;
}

.about{
    font-size:1.8em;
    color: #fafaf7;
    width:70%;
    margin: 0 auto; 
    text-align: center;
}

#sticky-footer {
    flex-shrink: none;
    position: fixed;
    height: 120px;
    bottom: 0;
    width: 100%;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
.scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

@media only screen and (max-width: 768px) {
    .navbar-title {
        font-size: 2em;
    }

    .links{
        flex-direction: row;
        font-size: 1.0em;
    }

    .about{
        font-size:1.6em;
        color: #fafaf7;
        width:80%;
        margin: 0 auto; 
    }

    #footer{
        height:80px;
    }
}

@media only screen and (max-width: 640px) {
    .navbar-title {
        font-size: 1.2em;
    }

    .links{
        flex-direction: row;
        font-size: 0.8em;
        padding-left: 5px;
    }

    .links:nth-child(1){
        margin-left: 5px;
    }

    .about{
        font-size:0.8em;
        color: #fafaf7;
        width:80%;
        margin: 0 auto; 
    }

    #footer{
        height:80px;
    }
}




